.article
    display: flex
    align-items: center

    &__title
        font-size: 12px
        margin-right: 12px

    &__output
        line-height: 1
        color: $dark-text
        border: 1px solid $very-light-grey
        border-radius: 5px
        padding: 3px 1px 4px 5px
        cursor: pointer